{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="span6">
		<h2>Authors</h2>
<p>
Simple Critical Infrastructure Maps is a product of the <a href="http://hexayurt.com">Hexayurt Project</a>.
</p>

<ul>
	<li><a href="http://vinay.howtolivewiki.org/">Vinay Gupta</a></li>
	<li><a href="http://www.smarimccarthy.is/">Smári McCarthy</a></li>
	<li><a href="http://www.alwayssababa.com/">Lisha Sterling</a></li>
	<li><a href="http://www.dougald.co.uk/">Dougald Hine</a></li>
</ul>

	</div>

	<div class="span6">
	<h2>&nbsp;</h2>

	<p>
	Special thanks are extended to Christopher Brewster and the others at the Disaster 2.0 project at Aston University.
	</p>

	</div>
</div>

{% endblock %}
