{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="span6">
		<h2>Orientation</h2>
<p>
<a href=http://resiliencemaps.org>Simple Critical Infrastructure Maps</a> is an analytical tool for understanding the network of dependencies 
which tie us to external actors like power companies, medical supply chains and other infrastructure providers. In peacetime these dependencies
silently grow as our lives become more and more entwined with these infrastructure systems. In a time of crisis, like an earthquake or a 
flu pandemic, these dependencies break: water supplies stop flowing, sanitation systems fail, and medical supplies can become scarce.
</p>
<p>
The job of infrastructure is to be invisible. SCIM makes infrastructure <a href=http://www.viridiandesign.org/principles.html>visible</a> allowing us to relate to it and make decisions about how we want to manage our dependencies.
</p>
<p>
SCIM's second purpose is to empower people who have recently been made aware of their dependencies on external infrastructure to act together to fill in gaps and take care of their essential needs when external support systems come under pressure from natural disasters or war. Many "responsible parties" like hospital administrators or town mayors face much deeper and broader responsibilities in times of crisis.
</p>
<p>
The Simple Critical Infrastructure Maps model is released under the <a href=http://creativecommons.org/licenses/by-nc-sa/3.0/>CC-BY-SA-NC</a> (non-commercial) license. It was originated by Vinay Gupta 
of the <a href=http://hexayurt.com>Hexayurt Project</a>.
</p>

	</div>

	<div class="span6">
		<img src="/static/images/simple_critical_infrastructure_maps.png"/>
	</div>
</div>

{% endblock %}
