{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="span12">
		<h2>KITTENS!!!!</h2>

		<object width="480" height="360"><param name="movie" value="http://www.youtube-nocookie.com/v/gppbrYIcR80?version=3&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube-nocookie.com/v/gppbrYIcR80?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="480" height="360" allowscriptaccess="always" allowfullscreen="true"></embed></object>
	</div>
</div>

{% endblock %}
