{% extends "base.html" %}

{% block content %}

<ul class="nav nav-tabs" id="entityclasstabs">
{% for entityclass in entityclasses %}
  <li{% if forloop.first %} class="active"{% endif %}><a href="#entityclass{{entityclass.id}}" data-toggle="tab">{{entityclass.name}}</a></li>
{% endfor %}
</ul>

<div class="tab-content">
{% for entityclass in entityclasses %}
	<div class="tab-pane{% if forloop.first %} active{% endif %}" id="entityclass{{entityclass.id}}">
	<table class="table table-bordered table-hover">
		<tr>
		<th></th>
		{% for tier in tiers %}
		<th>{{tier.name}}</th>
		{% endfor %}
		</tr>
		{% for need in entityclass.need_set.all %}
		<tr>
			<th>{{need.name}}</th>
			{% for tier in tiers %}
			<td onclick="newresource_show(this);"></td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	</div>
{% endfor %}
</div>

<div class="modal hide fade" id="newresource">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>
	ADD THE TABLE HERE!!!
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" onclick="$('#newresource').modal('hide');">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>

<script>
function newresource_show(cell) {
	$('#newresource').modal('show');
}

$(function(){
	$('#entityclasstabs a').click(function (e) {
	   e.preventDefault();
	   $(this).tab('show');
	});
	$('#newresource').modal({'keyboard': true, 'show': false, 'backdrop': false});
});
</script>

{% endblock %}
