{% extends "base.html" %}

{% block content %}

<h1>SCIM Map: {{map.name}}</h1>

<ul class="nav nav-tabs" id="entityclasstabs">
{% for entityclass in entityclasses %}
  <li{% if forloop.first %} class="active"{% endif %}><a href="#entityclass{{entityclass.id}}" data-toggle="tab">{{entityclass.name}}</a></li>
{% endfor %}
</ul>

<div class="tab-content">
{% for entityclass in entityclasses %}
	<div class="tab-pane{% if forloop.first %} active{% endif %}" id="entityclass{{entityclass.id}}">
	<table class="table table-bordered table-hover">
		<tr>
		<th></th>
		{% for tier in tiers %}
		<th>{{tier.name}}</th>
		{% endfor %}
		</tr>

		<tr>
		<td><i>(Service providers)</i></td>
		{% for tier in tiers %}
		<td>
			{% for sp in tier.serviceprovider_set.all %}
			{{sp.name}}<br/>
			{% endfor %}
		</td>
		{% endfor %}
		</tr>

		{% for need in entityclass.need_set.all %}
		<tr>
			<th>{{need.name}}</th>
			{% for tier in tiers %}
			<td onclick="newresource_show(this);return false;" id="cell_{{tier.id}}_{{need.id}}">
				
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	</div>
{% endfor %}
</div>

<div class="modal hide fade" id="newresource">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Resources</h3>
  </div>
  <div class="modal-body">
   <div class="row">
      <div class="span3" id="existing_res">
     
      
           </div>
     <div class="span3"><form>
    <strong>New Resource:</strong> <input type="text" name="resource" />
    <strong>Provided By:</strong> <select name="providers" id="providers" onchange="newProvider();"><option value="none" label="select one"></option></select>
				<span id="newprovidergroup" style="display: none;">
					<input class="span2" id="newprovider" size="16" type="text"><button class="btn" type="button" onclick="oldProvider();return false;">Cancel</button>
				</span>
    </form>
    </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" onclick="$('#newresource').modal('hide');return false;">Close</a>
    <a href="#" class="btn btn-primary" onclick="saveResource();">Save changes</a>
  </div>
</div>

<script>
var tier = 0;
var need = 0;

function newresource_show(cell) {
   $('#existing_res').html(""); 
   $('#providers').html(""); 
  // Let's get the information from the database
  // The cell.id is tier_need parse that to get the data
  cellID = cell.id.split('_');
  tier = cellID[1];
  need = cellID[2];
  $.get("/maps/resources/"+cellID[1]+"/"+cellID[2]+"/",
   function(data){
   console.log(data);
     var existRes = data.resources;
     var existProv = data.providers;
      if(existRes[0]){
      	$('#existing_res').append('<strong>Existing Resources</strong><br />');
      }
      
     // walk through and display each data.resources[n].name

     for (res in existRes) {
   	  $('#existing_res').append(existRes[res].name + '<br />');
     }
     
     for (prov in existProv){
            $('#providers').append('<option value="'+existProv[prov].name+'" label="'+existProv[prov].name+'"></option>');
     }
     $('#providers').append('<option value="new" label="new"></option>');
     
     }, "json");
   
  // Now lets show the list and form
	$('#newresource').modal('show');
}

function newProvider(){
	console.log("Fired!");
	if ($("#providers").val() == "new") {
		$("#providers").hide();
		$("#newprovidergroup").show();
	} else {
		oldProvider();
	}
}

function oldProvider() {
	$("#newprovidergroup").hide();
	$("#providers").show();
}

function saveResource() {
	$("#newresource").modal('hide');
	$.get("/maps/resources/"+tier+"/"+need+"/",
		function(data){
			
		});
	
}

$(function(){
	$('#entityclasstabs a').click(function (e) {
	   e.preventDefault();
	   $(this).tab('show');
	});
	$('#newresource').modal({'keyboard': true, 'show': false, 'backdrop': false});
});


</script>

{% endblock %}
